.seccion {
  height: 500px;
  width: 100%;
  background: rgb(70, 3, 92);
  background: linear-gradient(
    37deg,
    rgba(70, 3, 92, 1) 0%,
    rgba(102, 9, 121, 1) 13%,
    rgba(0, 212, 255, 1) 100%
  );
}
